<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Convert <%= @origin_symbol %> to <%= @from_symbol %> </h1>
  <p>
  1 <%= @origin_symbol%> equals <%= @rate %> <%= @from_symbol %>
  </p>
  <p>
    Go <a href="/forex/<%= @origin_symbol %>">back</a>
  </p>
</body>
</html>
